.field {
    width: 1000px;
    height: 500px;
}

.keyboard {
    display: flex;
    width: 900px;
    flex-wrap: wrap;

}

.key {
    margin: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: aqua;
    border: 1px solid black;
    cursor: pointer;
}
.active {
    background: blue;
}
.key:hover {
    background: blueviolet;
}
.key:active {
    background: blue;
}
.dblKey {
    width: 110px;
}
.space {
    width: 410px;
}